.venv/
.env
__pycache__/
.ipynb_checkpoints/

*.ipynb
*.tif
*.geojson
*.json
*.xml
*.csv
*.zip
*.nc
*.kmz
*.bin
*.bufr4
*.grib2
*.idx

*.aux.xml
*.log
.DS_Store
.idea/

*.share

tc_data/
tc_extracted/
tc_transformed/
test_output/
wind_data/
wind_extracted/
geodb/
project_results/
components/data/geodb/
AotS-mockup/
backup/
TESTING/
pages/alt_home.py